{% extends 'core/base.html' %}

{% load static %}

{% block title %}sur Ron{% endblock %}

{% block content %}
<section class="page-section about-heading">
  <div class="container">
    <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="{% static 'core/img/sun.jpg' %}" alt="">
    <div class="about-heading-content">
      <div class="row">
        <div class="col-xl-9 col-lg-10 mx-auto">
          <div class="bg-faded rounded p-5">
            <h2 class="section-heading mb-4">
              <span class="section-heading-lower">Conoce la sun ro</span>
            </h2>
            <p align="justify">El Sur-Ron vive entre esos segmentos como un monstruo ebike con 50 millas de alcance y una increíble velocidad máxima de 50 mph.
              Llamar al Sur Ron una "bicicleta eléctrica" ​​lo está presionando, podría llamarse una motocicleta eléctrica o, como mínimo, una bicicleta eléctrica o ciclomotor.
              Oficialmente, no se puede pasar como una bicicleta eléctrica en la mayoría de los mercados con limitaciones de potencia ya que el motor eléctrico del Sur Ron tiene una potencia de aproximadamente 6 kW.              
              Tampoco es realmente una motocicleta en términos de rendimiento con aproximadamente 50 millas (80 km) de alcance y una velocidad máxima de aproximadamente 50 mph (80 km / h). También necesitaría algunos mods, como luces de freno y espejos, para que sea legal.             
              Por lo tanto, el vehículo se vende como un ebike fuera de la carretera y una locura en eso.             
              El Sur-Ron está construido sobre un bastidor de aluminio personalizado que pesa alrededor de 110 libras (50 kg). Es bastante pesado para una bicicleta eléctrica, pero bastante ligero para una bicicleta de tierra.</p>
            <p align="justify">La batería está compuesta por 176 baterías Panasonic 18650 (60v 32ah), similares a las que se encuentran en los paquetes de baterías modelo S y Model X de Tesla.
              Agrega aproximadamente 2 kWh de capacidad de energía, que Sur Ron afirma que puede habilitar hasta 50 millas (80 km) de alcance con una sola carga.             
              No lo hemos probado al tratar de agotar la batería completamente con una carga completa, pero suena de inmediato después de haber empujado la bicicleta con fuerza durante algunas horas en alguna ocasión.             
              Por supuesto, todo depende de qué tan duro estés empujando esta bicicleta y de qué tipo de terreno estés montando, pero no importa cuán loco te lleves, deberías poder divertirte unas horas antes de necesitar una carga , que puede completarse en aproximadamente 3 horas con el cargador de 10 amp 60v suministrado.</p>
            <p align="justify">Usted agrega eso a la llanta de moto de tamaño completo y el resultado es un vehículo muy sólido que lo conecta con la  fuera del camino.

              La respuesta del acelerador está en punto y puede sentir todo el par instantáneo que lo empuja hacia adelante con ese sonido de motor eléctrico futurista que lloriquea, lo que hace que el viaje sea extremadamente emocionante.
              
              Si desea algo más relajado, puede poner la bicicleta en 'modo ecológico', que limita la potencia de salida a 3 kW, y puede manejar la mayoría del terreno sin preocuparse de que la bicicleta se aleje de usted.
              
              Pero si buscas algo de emoción, te recomiendo que mantengas la bicicleta en modo deportivo, lo que aprovecha al máximo el motor eléctrico de 6 kW y te lanza agresivamente.
              
              Hasta ahora, he viajado sobre todo por el Sur Ron por caminos de tierra (ver el video a continuación), pero también lo he tomado brevemente en terreno accidentado fuera de la carretera y todavía no he encontrado una situación en la que haya tenido dificultades para manejarlo.
              
              Esta no es una unidad de revisión. Compré la bicicleta yo mismo, así que voy a hacer una conducción todoterreno más dura y volveré con una revisión más exhaustiva a largo plazo en el futuro.
              
              Pero por ahora, estoy realmente impresionado por el Sur Ron. Es un gran valor por el precio.
              
              Dicho esto, se trata en gran medida de un vehículo todoterreno, ya que tendría problemas para que sea legal como ciclomotor, aunque no sería imposible en algunos mercados.
              
              Es la primera bicicleta eléctrica que creo que tendrá un impacto importante en el mercado de las bicicletas todo terreno de 50cc. También es un diseño muy simple y potente que creo que encontrará muchos fanáticos con modistas que disfrutarán el modding de esta máquina. Puedo ver una comunidad que se está formando a su alrededor.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}